global:
{% if alertmanager_slack_api_url %}
  slack_api_url: '{{ alertmanager_slack_api_url }}'
{% endif %}
route:
  receiver: 'slack-notifications'
  repeat_interval: 2m
receivers:
  - name: 'slack-notifications'
{% if alertmanager_slack_api_url %}
    slack_configs:
    - channel: '{{ alertmanager_slack_channel }}'
      send_resolved: true
{% endif %}
